body {
    background-color: #000000;
}

.container {
    background-color: #FFFFFF;
    width: 95vw;
    height: max-content;
    margin: 2vw;
}
    /*CONTAINERS*/
    .head {
        width: 95vw;
        height: 5vw;
        background-color: #b3b3b3;
        padding: 1vw;
    }

        .title {
            font-size: 3vw;
            font-weight: bold;
            font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
            padding-top: -3vw;
        }