/*SCROLLBAR STYLING*/
::-webkit-scrollbar {width: 0.8vw;}
::-webkit-scrollbar-track {background: #313131;}
::-webkit-scrollbar-thumb {background: var(--accent); border-radius: 1vw; border: 0.3vw solid #313131;}
::-webkit-scrollbar-thumb:hover {background: var(--accent); border-radius: 1vw; border: 0.25vw solid #313131;}

/*COLOR SCHEMES*/
:root {
    /* Brand colors */
    --accent-very-light: #a8ffd0; /* Highlights, accents */
    --accent-light: #58e88f; /* Hover, highlights */
    --accent: #2ecc71;       /* Main green */
    --accent-slightly-dark: #28b765; /* Buttons, active elements */
    --accent-dark: #1f8f4c;  /* Shadows, borders */

    /* Grays / neutrals */
    --bg: #e5e5e5;           /* Main background */
    --bg-dark: #cfcfcf;       /* Sections / cards */
    --bg-darker: #b8b8b8;     /* Footer or contrast elements */
    --bg-darkerer: #505050;   /* Sidebars or higher contrast elements */
    --bg-darkest: #363636;    /* Headers or high contrast elements */
    --bg-black: #000000;    /* Extreme contrast */
    --bg-darkgreen: #005818; /* Alternative background */

    /* Text */
    --text-main: #111;
    --text-light: #444;
    --text-invert: #ffffff;

    /* Borders */
    --border-light: #d0d0d0;
    --border-dark: #888;
}


body {
    background-color: var(--bg-black);
}

.black {
    position: fixed;
    width: 100vw;
    height: 2vw;
    background-color: var(--bg-black);
    margin-top: -2vw;
    z-index: 11;
}

.container {
    width: 95vw;
    height: max-content;
    margin: 2vw;
}
    /*CONTAINERS*/
    .head {
        display: flex;
        position: fixed;
        align-items: center;
        width: 100vw;
        height: 3vw;
        margin-left: -2vw;
        background-image: linear-gradient(to right, var(--accent), var(--accent-dark));
        box-shadow: 0 0.5vw 0.3vw rgba(0, 0, 0, 0.2);
        padding: 2vw;
        z-index: 10;
        opacity: 0.85;
    }

        .title {
            width: 48vw;
            font-size: 3vw;
            font-weight: bold;
            font-family: "Orbitron", sans-serif;
            color: var(--text-invert);
            margin: 0;
            vertical-align: middle;
        }

        .logo {
            width: 4vw;
            height: 4vw;
            vertical-align: middle;
            float: left;
            margin-right: 1.5vw;
        }
        
        .logotext {
            width: 25vw;
            height: auto;
            vertical-align: middle;
        }

        .logo-link {
                text-decoration: none;
                color: var(--text-invert);
        }    
        
        .nav {
            margin-left: 30vw;
        }

            .fadingcells {
                display: inline-block;
                color: var(--text-invert);
                font-size: 1.5vw;
                font-family: 'Times New Roman', Times, serif;
                transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
                vertical-align: middle;
                padding: 0.5vw 2vw;
                text-align: center;
                cursor: pointer;
            }

            .fadingcells a {
                text-decoration: none;
                color: var(--text-invert);
            }

            .fadingcells:hover {
                background-color: #d9d9d9;
                box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.2);
                /*box shadow order (Shadow to right) (Shadow to down) (blur strength) (spread radius)*/
            }

            .fadingcells:hover a{
                color: var(--text-main);
            }

            .coollittleverticalbar {
                display: inline-block;
                font-size: 2vw;
                color: var(--text-invert);
                vertical-align: middle;
                padding: 0 1vw;
            }

    .content {
        width: 91vw;
        height: max-content;
        color: var(--text-invert);
        background-color: var(--bg-darkest);
        opacity: 0.93;
        padding: 2vw;
    }

    .foot {
        width: 95vw;
        height: 2vw;
        margin-left: -2.2vw;
        background-image: linear-gradient(to right, var(--accent), var(--accent-dark));
        padding: 2vw;
        text-align: center;
        font-size: 1vw;
    }

        .credits {
            display: inline-block;
            font-size: 1.5vw;
            color: var(--text-invert);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            vertical-align: middle;
            width: 80vw;
            text-align: left;
            margin-left: -1.5vw;
        }


/*HOME*/

    .hometitle {
        width: 91vw;
        height: max-content;
        font-size: 3vw;
        font-weight: bold;
        font-family: "Orbitron", sans-serif;
        text-align: left;
        margin-bottom: 2vw;
        margin-top: 10vw;
        margin-left: 0;
        padding: 1vw;
        color: var(--text-invert);
    }

    .hometitlehighlight {
        color: var(--accent-light);
    }

    .homepara {
        width: fit-content;
        height: auto;
        font-size: 1.5vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin-bottom: 2vw;
        margin-left: 1vw;
    }

    .homebutton {
        width: 20vw;
        height: 4vw;
        font-size: 1.5vw;
        font-family: 'Courier New', Courier, monospace;
        color: var(--text-invert);
        background-color: var(--accent);
        border: none;
        border-radius: 0.5vw;
        cursor: pointer;
        margin-left: 1vw;
        font-weight: bold;
    }

        .homebutton:hover {
            background-color: var(--accent-light);
        }

    .competitors {
        display: flex;
        width: 91vw;
        height: auto;
        text-align: left;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: var(--accent-light) transparent;
        scroll-snap-type: x mandatory;
    }

        .competitor1 {
            flex: 0 0 auto;
            width: 20vw;
            height: auto;
            padding: 0.5vw;
            scroll-snap-align: start;

        }
        
        .competitor1 a {
            text-decoration: none;
            color: var(--text-invert);
        }
        
            .competitorimage {
                width: 18vw;
                height: 18vw;
                margin-bottom: 1vw;
            }

            .competitorname {
                width: 18vw;
                font-size: 2.5vw;
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
                margin: 0;
            }

            .realname {
                width: 18vw;
                height: auto;
                font-size: 0.8vw;
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
                margin: 0;
            }

.changelogbox {
    width: 89vw;
    height: 30vh;
    background-color: var(--accent-dark);
    padding: 1vw;
    margin-top: 2vw;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-light) transparent;
    scroll-snap-type: y mandatory;
}

    .changelogentry {
        width: 85vw;
        height: auto;
        font-size: 1.2vw;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        margin-bottom: 1vw;
        scroll-snap-align: start;
    }


/* DEMON LIST */

.list {
    width: 90vw;
    height: auto;
    margin-top: 10vw;
    display: grid;
    grid-template-columns: 1fr 4fr 13fr;
    grid-template-areas: 'switchlist demonname description';
    gap: 1vw;
}

.switchlist {
    grid-area: switchlist;
    height: 30vw;
}

    .switchicon {
        width: 4vw;
        height: 4vw;
        margin-bottom: 1vw;
        cursor: pointer;
    }

    .difficultyicon {
        width: 2.5vw;
        height: 2.5vw;
        margin-bottom: 0.2vw;
        cursor: pointer;
    }

.demonname {
    grid-area: demonname;
    height: 30vw;
    border-radius: 0.5vw;
    background-color: var(--bg-darkerer);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-light) transparent;
    padding: 0.3vw 0;
}

    .listofdemons {
        width: 16vw;
        height: auto;
        font-size: 1vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: left;
        margin: 0.2vw;
        padding: 0.6vw 1vw;
        cursor: pointer;
        border-radius: 0.5vw;
        transition: background-color 0.3s ease, color 0.3s ease;;
    }

        #extremedemon:hover {background-color: #790000b0;}
        #insanedemon:hover {background-color: #ff0000b0;}
        #harddemon:hover {background-color: #ff006ab0;}
        #mediumdemon:hover {background-color: #ff24dbB0;}
        #easydemon:hover {background-color: #b200e980;}

    .listofdemons:hover {
        color: var(--text-light);
    }



.description {
    grid-area: description;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-columns: 19fr 7fr;
    grid-template-areas: 
        'videotitle tags'
        'videolinkfr desc'
        'records other';
    height: 30vw;
    gap: 0.5vw;
}

    .videotitle {
        grid-area: videotitle;
        font-weight: bold;
        font-family: "Orbitron", sans-serif;
        margin: 0;
        padding-bottom: 0.5vw;
        border-bottom: 0.1vw solid var(--accent-light);
    }

        .titleofvideo {
            font-size: 2vw;
        }

        .videocreator {
            font-size: 1vw;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }

    .videolinkfr {
        grid-area: videolinkfr;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0.2vw;
    }

        .verify {
            width: 32vw;
            height: 18vw;
            border: none;
        }

    .tagsfr {
        grid-area: tags;
        text-align: left;
    }

    .desc {
        grid-area: desc;
    }

    .desctitle {
        display: inline-block;
        width: 100%;
        font-size: 1.5vw;
        font-weight: bold;
        font-family: "Orbitron", sans-serif;
        margin: 0;
        padding-bottom: 0.5vw;
        border-bottom: 0.1vw solid #14ff4f80;
        color: #14ff4f40;
        }    
    
    .descriptionpara {
            width: 100%;
            margin-top: 0.5vw;
            font-size: 0.9vw;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
            padding-right: 0.5vw;
            text-align: justify;
        }

        .tags {
            display: inline-block;
            margin-top: 0.5vw;
            font-size: 0.9vw;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            padding: 0.3vw 0.5vw;
            background-color: var(--accent-slightly-dark);
            border-radius: 0.2vw;
        }

    .records {
        grid-area: records;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--accent-light) transparent;
    }

        .eachrecord {
            width: 45vw;
            border-radius: 0.2vw;
            height: auto;
            font-size: 1vw;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            text-align: left;
            margin-bottom: 0.5vw;
        }

            .record1{background-color: var(--accent-light);}
            .record2{background-color: var(--accent-slightly-dark);}
            .record3{background-color: var(--accent-dark);}


        .recordpfp {
            width: 2vw;
            height: 2vw;
            vertical-align: middle;
            margin-right: 0.5vw;
        }

        .norecordpfp {
            display: none;
        }

    .other {
        grid-area: other;
        }

        .othertitle {
            font-size: 1.5vw;
            font-weight: bold;
            font-family: "Orbitron", sans-serif;
            margin: 0;
            padding-bottom: 0.5vw;
            border-bottom: 0.1vw solid #14ff4f80;
            color: #14ff4f40;
        }

        .othercontent {
            height: auto;
            font-size: 0.8vw;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
            margin-top: 0.5vw;
        }