body {
    background-color: #000000;
}

.container {
    width: 95vw;
    height: max-content;
    margin: 2vw;
}
    /*CONTAINERS*/
    .head {
        display: flex;
        align-items: center;
        width: 91vw;
        height: 4vw;
        background-image: linear-gradient(to right, #c9c9c9, #9e9999);
        padding: 2vw;
        z-index: 10;
        opacity: 0.90;
    }

        .title {
            width: 48vw;
            font-size: 3vw;
            font-weight: bold;
            font-family: "Orbitron", sans-serif;
            margin: 0;
            vertical-align: middle;
        }

        .logo {
            width: 4vw;
            height: 4vw;
            vertical-align: middle;
            float: left;
            margin-right: 1.5vw;
        }
     

            .fadingcells {
                display: inline-block;
                color: #000000;
                font-size: 1.5vw;
                font-family: 'Times New Roman', Times, serif;
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
                vertical-align: middle;
                padding: 0.5vw 2vw;
                text-align: center;
            }

            .fadingcells a {
                text-decoration: none;
                color: #000000;
            }

            .fadingcells:hover {
                background-color: #d9d9d9;
                box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.2);
                /*box shadow order (Shadow to right) (Shadow to down) (blur strength) (spread radius)*/
            }

            .coollittleverticalbar {
                display: inline-block;
                font-size: 2vw;
                color: #000000;
                vertical-align: middle;
                padding: 0 1vw;
            }

    .content {
        width: 91vw;
        height: max-content;
        background-color: #e6e6e6;
        padding: 2vw;
    }

    .foot {
        width: 91vw;
        height: 2vw;
        background-color: #b3b3b3;
        padding: 2vw;
        text-align: center;
        font-size: 1vw;
    }

        .credits {
            display: inline-block;
            font-size: 1.5vw;
            color: #000000;
            vertical-align: middle;
            width: 80vw;
            text-align: left;
            margin-left: -1.5vw;
        }